<footer id="footer">
  <div class='content'>
    <span>
      <i class="logo"></i> <br class="phoneShow"> © HOTAI MOTOR CO., LTD. 和泰汽車股份有限公司
    </span>
    <br class="phoneShow">
    <a href="https://www.toyota.com.tw/privacy.aspx" target='_blank'> 隱私權說明</a>
    <a href="https://www.toyota.com.tw/rights.aspx" target='_blank'> 版權聲明</a>
    <a href="tel:0800221345" target='_blank'> 客服專線 0800221345</a>
  </div>
  <div class="note">建議使用 Chrome 瀏覽器。</div>
</footer>