<header id='header'>
  <a href="https://www.toyota.com.tw/" target='_blank' id="logo"></a>
  
  <div id="menu" class=''>
    <div class="clozBtn"></div>
    <ul>
      <li data-menu='index' class='active'>我的100種可能</li>
      <li data-menu='myWay'>用態度走我的路</li>
      <li data-menu='experience'>抽獎活動辦法</li>
      <li data-menu='tags'>你我的100種可能</li>
    </ul>
  </div>
  <div class="menuBtn"></div> 
</header>