<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title> #我的100種可能</title>
  <!-- hiding the Browser’s User Interface -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <!-- iOS 6 -->
  <meta name="apple-mobile-web-app-title" content="">
  <!-- meta start -->
  <meta name="title" content=" #我的100種可能" />
  <meta name="description" content="只想做最真實的自己，用我的選擇，定義我的可能" />
  <meta name="keywords" content="我的一百種可能,我的100種可能,instergrm,ootd,chill,態度,做自己,hardcore,Instalike,Eso,瘦子,饒舌,野營,豪華露營,Champing,Fancy,urbanlife,Igers,Photooftheday,Instadaily,Yolo,vivid,Glamping,toyota,carlifestyle,只想活得漂亮,許允樂,自由淺水,HILUX,CH-R,COROLLA SPORT,RAV4,COROLLA ALTIS GR SPORT" />
  <link rel="image_src" href="https://www.toyota.com.tw/event/my100/share.jpg" />
  <link rel="icon" href="favicon.ico" type="image/x-icon" />

  <!-- OG -->
  <meta property="og:title" content=" #我的100種可能" />
  <meta property="og:site_name" content=" #我的100種可能" />
  <meta property="og:description" content="只想做最真實的自己，用我的選擇，定義我的可能" />
  <meta property="og:type" content="website" />
  <meta property="og:image" content="https://www.toyota.com.tw/event/my100/share.jpg" />
  <!-- CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />

  <!-- build:css css/lib.css -->
  <!-- endbuild -->
  <link rel="stylesheet" href="css/all.css">
  <!-- Google Tag Manager -->
  <script>
    (function (w, d, s, l, i) {
      w[l] = w[l] || [];
      w[l].push({
        'gtm.start': new Date().getTime(),
        event: 'gtm.js'
      });
      var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s),
        dl = l != 'dataLayer' ? '&l=' + l : '';
      j.async = true;
      j.src =
        'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
      f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-WS8KDFM');
  </script>
  <!-- End Google Tag Manager -->
</head>

<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WS8KDFM" height="0" width="0"
      style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  <!-- sider -->
  <% include conponents/sider %>
  <!-- sider END-->

  <!-- navbar -->
  <!-- <% include conponents/header %> -->
  <!-- navbar END -->

  <!-- contents -->
  <%- contents %>
  <!-- contents END -->

  <!-- footer -->
  <!-- <% include conponents/footer %> -->
  <!-- footer END -->


  <!-- build:js js/lib.js -->
  <script type="text/javascript" src="js/lib/jquery.min.js"></script>
  <script type="text/javascript" src="js/lib/fastclick.js"></script>
  <script type="text/javascript" src="js/lib/motus.web.js"></script>
  <!-- endbuild -->
  <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
  <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>

  <!-- js -->
  <script src="js/all.js"></script>
  <!-- js END-->
</body>

</html>